
.cart-count {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid white;
    background-color: rgb(230, 86, 61);
    font-weight: 700;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}